# --- BOT TOKENS ---
USER_BOT_TOKEN=
ADMIN_BOT_TOKEN=
GROUP_ID= 


# --- DATABASE INFO ---
DB_HOST=
DB_PORT= 
DB_USER= 
DB_PASSWORD=
DB_NAME=

# --- REDIS INFO ---
REDIS_HOST=
REDIS_PORT=

# --- SUPERADMINS ---
# Comma-separated list of phone numbers, e.g+38050124124,+13832717132
SUPERADMIN_NUMBERS=