aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
asyncpg
attrs
build
certifi
click
frozenlist
idna
magic-filter
Mako
MarkupSafe
multidict
packaging
pip-tools
propcache
pydantic
pydantic_core
pydantic_settings
pyproject_hooks
python-dotenv
redis
setuptools
SQLAlchemy
greenlet
typing-inspection
typing_extensions
wheel
yarl